* {
  /* font-family: 'Raleway',Times, Georgia, 'Times New Roman', serif, sans-serif; */
  font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif, serif;
  color: #232c35;
}

a {
  color: #409EFF;
  text-decoration: none;
}

._container {
  max-width: 1500px;
  /* width: 100%; */
  margin: 0 auto;
  /* padding: .5em; */
}

._bg-blue {
  background-color: #409EFF;
}

._bg-grey {
  background-color: #F5F5F5;
}

._font-blue {
  color: #409EFF;
}

._bd-bottom-blue {
  border-bottom: 2px solid #409EFF;
}

._bd-bottom-grey {
  border-bottom: 2px solid #F5F5F5;
}